@font-face {
  font-family: 'ArchitecturalCond';
  src: url('../fonts/Architectural-Condensed.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-Condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-Condensed.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-Condensed.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalExp';
  src: url('../fonts/Architectural-Expanded.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-Expanded.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-Expanded.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-Expanded.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalExtExp';
  src: url('../fonts/Architectural-ExtraExpanded.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-ExtraExpanded.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-ExtraExpanded.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-ExtraExpanded.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalLight';
  src: url('../fonts/Architectural-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalLightCond';
  src: url('../fonts/Architectural-LightCondensed.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-LightCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-LightCondensed.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-LightCondensed.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalLightExp';
  src: url('../fonts/Architectural-LightExpanded.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-LightExpanded.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-LightExpanded.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-LightExpanded.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalLightExtExp';
  src: url('../fonts/Architectural-LightExtExp.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-LightExtExp.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-LightExtExp.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-LightExtExp.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalMedExtExp';
  src: url('../fonts/Architectural-MedExtExp.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-MedExtExp.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-MedExtExp.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-MedExtExp.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalMed';
  src: url('../fonts/Architectural-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-Medium.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalMedCond';
  src: url('../fonts/Architectural-MediumCondensed.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-MediumCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-MediumCondensed.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-MediumCondensed.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ArchitecturalMedExp';
  src: url('../fonts/Architectural-MediumExpanded.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-MediumExpanded.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-MediumExpanded.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-MediumExpanded.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}



@font-face {
  font-family: 'Architectural';
  src: url('../fonts/Architectural-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Architectural-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Architectural-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Architectural-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
