@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#7CFF00] text-[#FF0056] m-0;

  font-family: "Playfair Display", sans-serif;
}

main {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
}

p {
  @apply m-0;

  font-family: "Playfair Display", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
}